{% extends 'overall/layout' %}
{% block appBody %}
    <div class="box-ocrend">
        <h1>OCREND FRAMEWORK 3</h1>
        <p>Bienvenido ¡empecemos a programar!</p>
        {% if is_logged %}
            <p>Sesión iniciada como <b>{{ owner_user.name }}::{{ owner_user.id_user }}</b></p>
        {% endif %}
        <div>
            <a href="https://framework.ocrend.com" target="_blank">Documentación</a>
            <span>-</span>
            <a href="https://framework.ocrend.com/donaciones" target="_blank">Donaciones</a>
        </div>
    </div>
{% endblock %}
