{% extends 'overall/layout' %}
{% block appBody %}
   <div class="container">
        <div class="ocrend ocrend-as-html">
            <table class="ocrend-details">
                <thead class="ocrend-head"><tr><th>
                    <h3 class="ocrend-class">
                        <span>Bienvenido</span>
                    </h3>
                </th></tr></thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="block ocrend-file-path">Bienvenido a su primera aplicación con <b>Ocrend Framework 2</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="block ocrend-file-path"><a href="http://framework.ocrend.com/" target="_blank">Visitar la documentación oficial</a></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="block ocrend-file-path"><a href="https://github.com/prinick96/Ocrend-Framework" target="_blank">Visitar el repositorio</a></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="block ocrend-file-path"><a href="https://www.youtube.com/playlist?list=PLDQZoQpLCoUAlWmnF8-b4KUT3-lzXAn4i" target="_blank">Video Documentación y Tutoriales</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
   </div>
{% endblock %}
