<!DOCTYPE html>
<html lang="es">
<head>
  <base href="{{ constant('URL') }}" />

  <meta charset="utf-8" />
  <meta name="application-name" content="{{ constant('APP') }}" />
  <meta name="author" content="www.ocrend.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ constant('APP') }}</title>
</head>
