<form role="form" enctype="application/x-www-form-urlencoded" id="login_form">

  <div class="alert hide" id="ajax_login"></div>

  <div class="form-group">
    <label>Usuario:</label>
    <input type="text" name="user" class="form-control" required="" />
  </div>
  <div class="form-group">
    <label>Contraseña:</label>
    <input type="password" name="pass" class="form-control" required="" />
  </div>
  <div class="form-group">
    <button type="button" id="login" class="btn btn-success">Iniciar Sesión</button>
  </div>
</form>
