{% extends 'overall/layout' %}
{% block appBody %}
    <div class="container">
        <div class="ocrend ocrend-as-html">
            <table class="ocrend-details">
                <thead class="ocrend-head"><tr><th>
                    <h3 class="ocrend-class">
                        <span>ERROR 404</span>
                    </h3>
                </th></tr></thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="block ocrend-file-path">El controlador solicitado no ha sido encontrado.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
   </div>
{% endblock %}