{% include 'overall/header.twig' %}
<body id="page-top" class="index">

    {% include 'overall/topnav.twig' %}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>ยก404 ERROR!</h2>
                </div>
                <div class="col-sm-12 text-center">
                  <br />
                  <p>Controlador <b>{{ controller }}</b> no encontrado.</p>
                </div>
            </div>
        </div>
    </section>

{% include 'overall/footer.twig' %}
</body>
</html>
