<!DOCTYPE html>
<html lang="en">
<head>
    {# Formato #}
    {{ base_assets()|raw }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block appHeader %}
    {% endblock %}

    <title>{{ config.build.name }}</title>
</head>
<body>
    {% block appBody %}
    {% endblock %}

    {% block appFooter %}
    {% endblock %}
</body>
</html>