<!DOCTYPE html>
<html lang="es">
  <head>
    {# Formato #}
    {{ base_assets()|raw }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Estilos #}
    <link href="views/app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="views/app/css/framework.min.css" rel="stylesheet" />
    <link href="views/app/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    {# Título #}
    <title>{{ config.site.name }}</title>

    {# Extras en el header #}
    {% block appHeader %}
      <!-- :) -->
    {% endblock %}
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {# Contenido real #}
    {% block appBody %}
      <!-- :) -->
    {% endblock %}

    {# Carga de jQuery #}
    {% if config.framework.debug %}
      {# jQuery para ver errores de ajax vía consola, no eliminar #}
      <script src="views/app/js/jdev.min.js"></script>
    {% else %}
      {# jQuery para su plantilla, este puede ser modificado a voluntad #}
      <script src="views/app/vendor/jquery/jquery.min.js"></script>
    {% endif %}

    {# Scripts globales #}
    <script src="views/app/vendor/bootstrap/js/bootstrap.min.js"></script>

    {# Footer #}
    {% block appFooter %}
      <!-- :) -->
    {% endblock %}
  </body>
</html>
