<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|json|lock|swp|xml|twig|gitignore|yml|md)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

Options -MultiViews

RewriteEngine On
# RerwiteBase / # 1&1 host
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]