{% include 'overall/header' %}
  <body>
    <div class="container">
      <div class="presentacion center">
        <div class="row">
          <div class="col-xs-12">
            <h1>Ocrend Framework</h1>
            <p>Framework MVC PHP 7. Para expertos y aprendices.</p>
            <p>Est치s usando <a href="http://twig.sensiolabs.org" target="_blank">Twig</a> :)</p>

            <div class="documentacion">
              <a class="fa fa-youtube" href="https://www.youtube.com/playlist?list=PLDQZoQpLCoUBVbDUxr8cxVX0ik8uh5WBh" target="_blank"></a>
              <a class="fa fa-github"  href="https://github.com/prinick96/Ocrend-Framework/wiki" target="_blank"></a>
              <a class="fa fa-globe" href="http://framework.ocrend.com" target="_blank"></a>
            </div>

          </div>
          <div class="col-xs-12 botones">
            {# Si la constante de sesi칩n no est치 definida #}
            {% if session[constant('SESS_APP_ID')] is not defined %}
              <a href="#" data-toggle="modal" data-target="#iniciar_sesion" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-user"></i> Empezar
              </a>
              <a href="#" data-toggle="modal" data-target="#registro" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-list-alt"></i> Registro
              </a>
            {# Pero si est치 definida #}
            {% else %}
              Bienvenido usuario de <b>id: {{ session[constant('SESS_APP_ID')] }}</b>, <a href="logout/">Salir</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include 'overall/footer' %}
  </body>
</html>
